body {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.logo {
    font-size: 48px;
    margin: 0px 20px 0px 20px;
    background-color: rgb(206, 206, 206);
    display: flex;
}

a.hidden-link:link,
a.hidden-link:visited,
a.hidden-link:active,
a.hidden-link {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

a.hidden-link:hover {
    color:rgb(87, 87, 87)
}

#content {
    display: block;
    margin-left: 40px;
}

.user {
    margin: 0px 20px 0px 20px;
    text-align: right;
    font-size: 20px;
}

.login-block {
    text-align: center;
}

#logout-form {
    display: inline;
}

#logout-form button {
    padding: 0;
    color: #000000;
    background: none;
    border: 0;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 18px;
    font-family: "Oswald", sans-serif;
}

.post-list-header {
    font-size: 36px;
}

.post-list-display {
    display: block;
    border-bottom: 2px solid #000000;
    border-top: 2px solid #000000;
    padding: 1%;
    margin-bottom: 20px;
    margin-right: 20px;
}

.password-change-form {
    text-align: center;
}

.password-change-done {
    text-align: center;
}

li {
    list-style-type: none;
}

.post {
    text-align: left;
    margin-top: 20px;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
}

.post-date {
    color: #9e9e9e;
}

.pagination {
    text-align: center;
}

.comment {
    border-bottom: 1px solid #000000;
    resize: none;
    display: block;
    background-color: bisque;
}

.comment-body-area {
    width: 40%;
    height: 100px;
    resize: none;
}

.register-block {
    text-align: center;
}

.register-done-block {
    text-align: center;
}

.tags {
    color: #9e9e9e;
}